# EmailJS — get these from https://www.emailjs.com/
# 1. Create account → Add Email Service (Gmail) → Get Service ID
# 2. Create Email Template → Get Template ID
# 3. Account → API Keys → Get Public Key

VITE_EMAILJS_SERVICE_ID=service_xv7vbsh
VITE_EMAILJS_TEMPLATE_ID=template_h3c1yhp
VITE_EMAILJS_PUBLIC_KEY=ChWprm05zge9Zt3hO
